.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0; /* No margin on top */
    margin-right: 0; /* No margin on right */
    margin-left: 0; /* No margin on left */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
}

.header-background {
    background-color: #BFC7DE;
}

.main {
    overflow-y: auto;
}

