@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section>
                <h2 class="border-bottom">About Us:</h2>
                <p>Welcome to MySoftwareBook, your trusted source for discovering and exploring a world of knowledge in the field of software development and technology. Our mission is to provide you with a curated selection of the latest and most valuable software-related books that will empower you to stay ahead in the ever-evolving tech industry.</p>

                <p>At MySoftwareBook, we understand the importance of staying up-to-date with the latest trends, tools, and techniques in software development. Whether you're a seasoned developer, a tech enthusiast, or just starting your coding journey, we have a wide range of books that cater to different skill levels and interests.</p>

                <p>Our team of passionate tech enthusiasts is dedicated to handpicking books that offer insightful and practical knowledge in areas such as programming languages, web development, and much more. We believe that books are a timeless resource that can inspire, educate, and transform individuals into successful professionals in the tech world.</p>
                </section>
            <section>
                <h2 class="border-bottom">Our Mission and Vision:</h2>
                <p>
                    Our mission is to empower individuals in the tech industry with knowledge and skills by providing a comprehensive and accessible platform for discovering, learning, and sharing software-related literature.
                </p>
                <p>
                    Our vision is to be the leading online destination for software enthusiasts, developers, and IT professionals, offering a vast library of software books, tutorials, and resources. We aim to foster a global community of lifelong learners who can thrive in the ever-evolving world of technology
                </p>
            </section>
            <section>
                <h2 class="border-bottom">Our Community:</h2>
                <p>
                    <b>Connect:</b> Join a diverse group of software enthusiasts, developers, and IT professionals from around the globe. Forge connections, discuss your favorite programming languages, and meet mentors and peers who share your passion for software.
                </p>
                <p>
                    <b>Learn Together:</b> Learning never stops in the world of technology. Engage in enriching conversations, ask questions, and share your knowledge. Our community-driven discussions ensure that you have the support you need to grow in your software journey.
                </p>
                <p>
                    <b>Stay Informed:</b> Technology evolves rapidly, and staying up-to-date is crucial. Be part of discussions on the latest trends, emerging technologies, and industry insights. Our community members keep each other informed and inspired.
                </p>
            </section>
        </div>

        <div class="col-md-4">
            <h2 class="text-center">Contact Us!</h2>
            <aside class="container border border-1 box-shadow">
                <p>Phone: 715-555-5555</p>
                <p>mysoftwarebook@gmail.com</p>
            </aside>
        </div>
    </div>
</div>