@{
    Layout = "_Layout";
}

<div class="container">

    <div class="">

        <div class="row">

            <div class="col">
                <h2 class="m-2">Top Rating Software Books</h2>
            </div>
            <div class="col text-end mt-3 ms-5 m-2">
                    <form id="search-form" action="" method="">
                        <input type="text" id="search-input" name="q" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
            </div>
        </div>
    </div>
</div>