@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <section class="border border-4">
                <h2 class="border-bottom">Recent Topics:</h2>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </section>

            <section class="border border-4">
                <h2 class="border-bottom">Blogs:</h2>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </section>

            <section class="border border-4">
                <h2 class="border-bottom">Forums</h2>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </section>

        </div>

        <div class="col-md-4 border border-4">

            <h2 class="text-center">Hot Discussion</h2>

            <aside class="container border border-1 box-shadow">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </aside>
        </div>
    </div>
</div>
