@{
    Layout = "_Layout";
}

<div>
    <div id="menu">

    </div>

    <p>Welcome to MySoftware BookList, your go-to resource for discovering the latest and greatest software-related books.</p>

    <div class="section">
        <h2>Featured Books</h2>
        <p>
            Place Holder for books that we are currently featuring or recommending!
        </p>
        <ul class="book-list">
            <li>Introduction to Software Development</li>
            <li>Mastering Web Development</li>
            <li>Algorithms and Data Structures</li>
        </ul>
    </div>

    <div class="section">
        <h2>New Releases</h2>
        <p>
            Books that were newly released!
        </p>
        <ul class="book-list">
            <li>New Release: The Art of Software Architecture</li>
            <li>New Release: Mobile App Development Essentials</li>
            <li>New Release: Cloud Computing Explained</li>
        </ul>
    </div>
</div>
