<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/273e780f-c9d2-49b2-a9bc-872c0194bf3c/resourceGroups/softwareBookListResource/providers/Microsoft.Web/sites/softwarebooklist-Test</ResourceId>
    <ResourceGroup>softwareBookListResource</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://softwarebooklist-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ce662af5-0edf-49c4-a9cb-e3525d793ac0</ProjectGuid>
    <PublishUrl>https://softwarebooklist-test.scm.azurewebsites.net/</PublishUrl>
    <UserName>$softwarebooklist-Test</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>