@using SoftwareBookList.Models;
@model UserProfileViewModel;

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 border border-2">

            <div class="col-md-9 container">
                <div class="mb-3">
                    <h5>Profile Picture</h5>
                    <img width="200" src="@(Model.ProfilePicture.Replace("wwwroot", "") + "?timestamp=" + DateTime.Now.Ticks)" alt="Profile Picture" />
                </div>

                <div class="col-md-12">

                    <form method="post" enctype="multipart/form-data" asp-action="UpdateProfile" asp-controller="UserProfile">

                        <div class="mb-3">
                            <input asp-for="ProfilePicture" type="file" class="form-control" id="ProfilePicture" name="profilePicture" />
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="UserName" class="form-label">UserName</label>
                                    <input asp-for="UserName" class="form-control" id="UserName" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="Bio" class="form-label">Bio</label>
                                    <textarea asp-for="Bio" class="form-control" id="Bio" rows="6"></textarea>
                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="Birthday" class="form-label">Birthday</label>
                                    <input asp-for="Birthday" class="form-control" id="Birthday" />
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>